

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a target="_blank" rel="noopener noreferrer" 
                   href="https://appseed.us/admin-dashboards/django-dashboard-material">
                   Compilador UNL
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            <p style="font-size: xx-small;" >Template from AppSeed</p>
          </div>
        </div>
    </footer>
