    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" 
           href="https://appseed.us/admin-dashboards/django-dashboard-material" class="simple-text logo-normal">
          Compilador
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">

          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="/compiler">
              <i class="material-icons">home</i>
              <p>Inicio</p>
            </a>
          </li>
          <li class="nav-item {% if 'analizador-lexico' in segment %} active {% endif %}">
            <a class="nav-link" href="/compiler/analizador-lexico.html">
              <i class="material-icons">content_paste</i>
              <p>Analizador Léxico</p>
            </a>
          </li>
          <li class="nav-item {% if 'analisis-sintactico' in segment %} active {% endif %}">
            <a class="nav-link" href="/compiler/analisis-sintactico.html">
              <i class="material-icons">bubble_chart</i>
              <p>Análsis sintáctico</p>
            </a>
          </li>
          <li class="nav-item {% if 'analisis-semantico' in segment %} active {% endif %}">
            <a class="nav-link" href="/compiler/analisis-semantico.html">
              <i class="material-icons">library_books</i>
              <p>Análisis semántico</p>
            </a>
          </li>
          
        </ul>
      </div>

    </div>
