    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" 
           href="https://appseed.us/admin-dashboards/django-dashboard-material" class="simple-text logo-normal">
          Compilador
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">

          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="/compiler">
              <i class="material-icons">home</i>
              <p>Inicio</p>
            </a>
          </li>
          <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
            <a class="nav-link" href="/compiler/page-user.html">
              <i class="material-icons">person</i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="nav-item {% if 'analizador-lexico' in segment %} active {% endif %}">
            <a class="nav-link" href="/compiler/analizador-lexico.html">
              <i class="material-icons">content_paste</i>
              <p>Analizador Léxico</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-typography' in segment %} active {% endif %}">
            <a class="nav-link" href="/compiler/ui-typography.html">
              <i class="material-icons">library_books</i>
              <p>Typography</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-icons' in segment %} active {% endif %}">
            <a class="nav-link" href="/compiler/ui-icons.html">
              <i class="material-icons">bubble_chart</i>
              <p>Icons</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-maps' in segment %} active {% endif %}">
            <a class="nav-link" href="/compiler/ui-maps.html">
              <i class="material-icons">location_ons</i>
              <p>Maps</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-notifications' in segment %} active {% endif %}">
            <a class="nav-link" href="/compiler/ui-notifications.html">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>
          
        </ul>
      </div>

    </div>
